modules = ["nodejs-20"]
[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 39880973

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5001
externalPort = 80

[[ports]]
localPort = 5002
externalPort = 3000

[nix]
channel = "stable-24_05"
